service-registration-service/build/*
service-registration-service/.idea/*
service-registration-service/.gradle/*
product-service/build/*
product-service/.idea/*
product-service/.gradle/*
shop-api/build/*
shop-api/.idea/*
shop-api/.gradle/*
*.iml
